<div class="header_village">
		<div class="logo_village">
			<a href={{ path('app_accueil') }} ><img src="/asset/media/web/Logo2.png" alt="Logo_VillageGreen"/></a>

		</div>

		<ul class="horizontal">
			<li>
				<a class="adminlink" href={{ path('app_accueil') }}>Accueil</a>
			</li>
			<li>
				<a class="adminlink" href={{ path('app_rubrique_index') }}>Rubriques</a>
			</li>	
			<li>
				<a class="adminlink" href={{ path('app_produit_index') }}>Produits</a>
			</li>
			<li>
				<a class="adminlink" href={{ path('app_fournisseur_index') }}>Fournisseurs</a>
			</li>
			<li>
				<a class="adminlink" href={{ path('app_fournisseur_index') }}>Fournisseurs</a>
			</li>
		</ul> 

		<!--*********************************************************************************************************************-->




		<!--*********************************************************************************************************************-->

<nav class="navbar navbar-expand-sm navbar-dark bg-success bg-gradient" aria-label="Third navbar example">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ path('app_catalogue') }}">Catalogue</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Administration</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href={{ path('app_rubrique_index') }}>Rubriques</a></li>
			  <li><a class="dropdown-item" href={{ path('app_produit_index') }}>Produits</a></li>
			  <li><a class="dropdown-item" href={{ path('app_fournisseur_index') }}>Fournisseurs</a></li>
			  <li><a class="dropdown-item" href={{ path('app_fournisseur_index') }}>Clients</a></li>
			  <li><a class="dropdown-item" href={{ path('app_fournisseur_index') }}>Commerciaux</a></li>
			  <li><a class="dropdown-item" href={{ path('app_fournisseur_index') }}>Services</a></li>
			  <li><a class="dropdown-item" href={{ path('app_fournisseur_index') }}>TVA</a></li>
            </ul>
          </li>
        </ul>
        <form role="search">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>
</div>