{% extends 'base.html.twig' %}

{% block title %}
  Produit index
{% endblock %}

{% block body %}
  <div class="cargo">
    <h3>Produit index</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Prod_marque</th>
          <th>Prod_modele</th>
          <th>Prod_finition</th>
          <th>Prod_lib_court</th>
          <th>Prod_lib_long</th>
          <th>Prod_prix</th>
          <th>Prod_photo</th>
          <th>Prod_actif</th>
          <th>Prod_reference</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
          <tr>
            <td>{{ produit.prodMarque }}</td>
            <td>{{ produit.prodModele }}</td>
            <td>{{ produit.prodFinition }}</td>
            <td>{{ produit.prodLibCourt }}</td>
            <td>{{ produit.prodLibLong }}</td>
            <td>{{ produit.prodPrix }}</td>
            <td>{{ produit.prodPhoto }}</td>
            <td>{{ produit.prodActif ? 'Oui' : 'Non' }}</td>
            <td>{{ produit.prodReference }}</td>
            <td>
              <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_produit_show', { id: produit.id }) }}">Détail</a>
              <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_produit_edit', { id: produit.id }) }}">Éditer</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="11">Aucun produit en base</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_produit_new') }}">Nouvel article</a>
{% endblock %}
