{% extends 'base.html.twig' %}

{% block title %}
  Produit
{% endblock %}

{% block body %}
  <div class="cargo">
    <h3>Produit</h3>

    <ul class="fiche_obj">
      <li>
        <table class="table">
          <tbody>
            <tr>
              <th>Id</th>
              <td>{{ produit.id }}</td>
            </tr>
            <tr>
              <th>Prod_marque</th>
              <td>{{ produit.prodMarque }}</td>
            </tr>
            <tr>
              <th>Prod_modele</th>
              <td>{{ produit.prodModele }}</td>
            </tr>
            <tr>
              <th>Prod_finition</th>
              <td>{{ produit.prodFinition }}</td>
            </tr>
            <tr>
              <th>Prod_lib_court</th>
              <td>{{ produit.prodLibCourt }}</td>
            </tr>
            <tr>
              <th>Prod_lib_long</th>
              <td>{{ produit.prodLibLong }}</td>
            </tr>
            <tr>
              <th>Prod_prix</th>
              <td>{{ produit.prodPrix }}</td>
            </tr>
            <tr>
              <th>Prod_photo</th>
              <td>{{ produit.prodPhoto }}</td>
            </tr>
            <tr>
              <th>Prod_actif</th>
              <td>{{ produit.prodActif ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
              <th>Prod_reference</th>
              <td>{{ produit.prodReference }}</td>
            </tr>
          </tbody>
        </table>
      </li>
      <li>
        <div class="photo-catalogue">
          <img src="/asset/media/catalogue/{{ produit.prodPhoto }}" alt="{{ produit.prodPhoto }}" />
        </div>
      </li>
    </ul>

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_produit_index') }}">Retour</a>

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_produit_edit', { id: produit.id }) }}">Édition</a>

    {{ include('produit/_delete_form.html.twig') }}
  </div>
{% endblock %}
