{% extends 'base.html.twig' %}

{% block title %}
  Catalogue
{% endblock %}

{% block body %}
  {# On charge toutes les rubriques racines (where getRubriqParente == null ) #}

  <ul>
    <div class="d-flex">
      {% for rubrique in rubriques %}
        {% if rubrique.getRubriqParente == null %}
          {% if rubrique.id == id %}
            {# On teste si la rubrique racine est active #}
            <li class="p-2 col col-1">
              <a class="btn btn-info col-12 bg-gradient text-truncate" href="{{ path('app_catalogue_actif', { id: rubrique.id }) }}">{{ rubrique.rubriqNom }}</a>
            </li>
          {% else %}
            <li class="p-2 col col-1">
              <a class="btn btn-success col-12 bg-gradient text-truncate" href="{{ path('app_catalogue_actif', { id: rubrique.id }) }}">{{ rubrique.rubriqNom }}</a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </ul>

  {% if id != null %}
    {# On charge toutes les Rubriques enfant de la rubrique racine active (where getRubriqParente == id ) #}
    <ul>
      <div class="d-flex">
        {% for rubrique in rubriques %}
          {% if rubrique.getRubriqParente != null %}
            {% if rubrique.getRubriqParente.id == id %}
              <li class="p-2 col col-1">
                <a class="btn btn-success col-12 bg-gradient text-truncate" href="{{ path('app_catalogue_actif', { id: rubrique.id }) }}">{{ rubrique.rubriqNom }}</a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </ul>
  {% endif %}

  {% include 'partials/fiche_catalogue.html.twig' %}
{% endblock %}
