{% extends 'base.html.twig' %}

{% block title %}
  Rubrique index
{% endblock %}

{% block body %}
  <div class="cargo">
    <h1>Rubrique index</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Rubriq_nom</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        {% for rubrique in rubriques %}
          <tr>
            <td>{{ rubrique.id }}</td>
            <td>{{ rubrique.rubriqNom }}</td>
            <td>
              <button type="btn" class="btn btn-success bg-gradient btn-sm"><a href="{{ path('app_rubrique_show', { id: rubrique.id }) }}">Détail</a></button>
              <button type="btn" class="btn btn-success bg-gradient btn-sm"><a href="{{ path('app_rubrique_edit', { id: rubrique.id }) }}">Éditer</a></button>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">no records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <button type="btn" class="btn btn-success bg-gradient btn-sm"><a href="{{ path('app_rubrique_new') }}">Nouvelle Rubrique</a></button>
{% endblock %}
