{% extends 'base.html.twig' %}

{% block title %}
  Rubrique index
{% endblock %}

{% block body %}
  <div class="cargo">
    <h3>Rubrique index</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Rubriq_nom</th>
          <th>Rubrique parente</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        {% for rubrique in rubriques %}
          <tr>
            <td>{{ rubrique.rubriqNom }}</td>
            <td>{{ rubrique.getRubriqParente() }}</td>
            <td>
              <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_rubrique_show', { id: rubrique.id }) }}">Détail</a>
              <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_rubrique_edit', { id: rubrique.id }) }}">Éditer</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="3">Aucune Rubrique</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_rubrique_new') }}">Nouvelle Rubrique</a>
{% endblock %}
