{% extends 'base.html.twig' %}

{% block title %}
  Rubrique
{% endblock %}

{% block body %}
  <div class="cargo">
    <h3>Rubrique</h3>

    <ul class="fiche_obj">
      <table class="table">
        <tbody>
          <tr>
            <th>Id</th>
            <td>{{ rubrique.id }}</td>
          </tr>
          <tr>
            <th>Rubriq_nom</th>
            <td>{{ rubrique.rubriqNom }}</td>
          </tr>
          <tr>
            <th>Rubriq_parente</th>
            <td>{{ rubrique.getRubriqParente() }}</td>
          </tr>

          <th>Rubriq_enfants</th>
          {% for rubriq_enfants in rubrique.getRubriqEnfants %}
            <tr>
              <td>{{ rubriq_enfants.rubriqNom }}</td>
              {# <td> {{ include('rubrique/_delete_enfant_form.html.twig') }}</td> #}
            </tr>
          {% else %}
            <tr>
              <td colspan="3">Aucune rubrique enfant</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </ul>

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_rubrique_index') }}">Retour</a>

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_rubrique_edit', { id: rubrique.id }) }}">Édition</a>

    {{ include('rubrique/_delete_form.html.twig') }}
  </div>
{% endblock %}
