{% extends 'base.html.twig' %}

{% block title %}
  Fournisseur
{% endblock %}

{% block body %}
  <div class="cargo">
    <h3>Fournisseur</h3>

    <ul class="fiche_obj">
      <table class="table">
        <tbody>
          <tr>
            <th>Id</th>
            <td>{{ fournisseur.id }}</td>
          </tr>
          <tr>
            <th>Fourni_societe</th>
            <td>{{ fournisseur.fourniSociete }}</td>
          </tr>
          <tr>
            <th>Fourni_nom</th>
            <td>{{ fournisseur.fourniNom }}</td>
          </tr>
          <tr>
            <th>Fourni_prenom</th>
            <td>{{ fournisseur.fourniPrenom }}</td>
          </tr>
          <tr>
            <th>Fourni_telephone</th>
            <td>{{ fournisseur.fourniTelephone }}</td>
          </tr>
          <tr>
            <th>Fourni_mail</th>
            <td>{{ fournisseur.fourniMail }}</td>
          </tr>
          <tr>
            <th>Fourni_adresse</th>
            <td>{{ fournisseur.fourniAdresse }}</td>
          </tr>
          <tr>
            <th>Fourni_cp</th>
            <td>{{ fournisseur.fourniCp }}</td>
          </tr>
          <tr>
            <th>Fourni_ville</th>
            <td>{{ fournisseur.fourniVille }}</td>
          </tr>
          <tr>
            <th>Fourni_region</th>
            <td>{{ fournisseur.fourniRegion }}</td>
          </tr>
          <tr>
            <th>Fourni_pays</th>
            <td>{{ fournisseur.fourniPays }}</td>
          </tr>
          <tr>
            <th>Fourni_constructeur</th>
            <td>{{ fournisseur.fourniConstructeur ? 'Yes' : 'No' }}</td>
          </tr>
          <tr>
            <th>Fourni_importateur</th>
            <td>{{ fournisseur.fourniImportateur ? 'Yes' : 'No' }}</td>
          </tr>
        </tbody>
      </table>
    </ul>

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_fournisseur_index') }}">Retour</a>

    <a class="btn btn-success bg-gradient btn-sm" href="{{ path('app_fournisseur_edit', { id: fournisseur.id }) }}">Édition</a>

    {{ include('fournisseur/_delete_form.html.twig') }}
  </div>
{% endblock %}
